
/*--------------------------------------------------------------------------*/
/* ======================== CUSTOM FORMAT OPTIONS ========================= */
/*--------------------------------------------------------------------------*/
.content-block { 
    border:1px solid #eee; 
    padding:3px;
    background:#ccc;
    max-width:250px;
    float:right; 
    text-align:center;
}
.content-block:after { 
    clear:both;
} 
.blue-button { 
	background-color:#33bdef;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
}

.red-button {
	background-color:#bc3315;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
}

.orange-bullet {
	width: 10px;
	height: 10px;
	background: #c98634;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	display: block;
	margin: 0 auto;
}

.red-highlight {
	color: #e53539;
}

/*--------------------------------------------------------------------------*/
/* CUSTOM DASHBOARD STYLES */
#wpbody-content #dashboard-widgets .postbox-container {
	position: relative;
	display: block;
	width: 50% !important;
	float: left !important;
}

.welcome-panel.custom {

}

.welcome-panel h4.herotitle {
	margin-bottom: -25px;
}

.metabox-holder .postbox-container .empty-container {
	border: none !important;
}

.welcome-panel-close {display: none !important;}

@media (max-width: 860px) {
	#wpbody-content #dashboard-widgets .postbox-container {	width: 100% !important; }
}

/*--------------------------------------------------------------------------*/
/* ACF STYLE EDITS */

.repeater > table > tbody > tr:nth-of-type(even) td {
	background: #ece9e9 !important;
	color: #fff !important;
}

.repeater > table > tbody > tr:nth-of-type(even) td:nth-of-type(1) {
	color: #aeacac !important;
}

/*--------------------------------------------------------------------------*/
/* ========================= WORDPRESS ADMIN CHANGES ====================== */
/*--------------------------------------------------------------------------*/

/* main dashboard deck */
#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
	background: #2d1311;
}

.wp-core-ui .button.button-primary.button-hero {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* active menu + submenu colors */
#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu, .no-js li.wp-has-current-submenu:hover .wp-submenu,
#adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus {
	background: #5e0003;	
}

/* active menu text color */
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu,
#adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus,
#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top > a:focus {
	background: #e53539;
	color: #fff;
}

/* submenu */
#adminmenu .wp-submenu {
	background: #5e0003;
}

/* submenu arrow */
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover::after {
	border-right-color: #5e0003;
}

/* admin icon color */
#adminmenu li a:focus div.wp-menu-image::before, #adminmenu li.opensub div.wp-menu-image::before, #adminmenu li:hover div.wp-menu-image::before { color: #fff; }

/* WP core button styles */
	/* buttons */
	.wp-core-ui .button-primary, .button-danger,
	.wp-core-ui .button.button-primary.button-hero.active, 
	.wp-core-ui .button.button-primary.button-hero.active:focus, 
	.wp-core-ui .button.button-primary.button-hero.active:hover, 
	.wp-core-ui .button.button-primary.button-hero:active,
	.wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active  {
		background: #e53539;
		color: #fff !important;
		border: none !important;
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-text-shadow: none;
		text-shadow: none;
		-webkit-transition: all .35s ease-out;
		transition: all .35s ease-out;
	}

	.wp-core-ui .button-primary:hover, .button-danger:hover {background: #5e0003; }
		
	/* core link colors */
		/* main color */
		.wp-admin a, .view-switch a.current::before {color: #e53539; -webkit-transition: all .35s ease-out; transition: all .35s ease-out; }
		
		
		/* hover color */
		.wp-admin a:hover, #bulk-titles div a:hover::before, .tagchecklist span a:hover::before,
		.welcome-panel .welcome-panel-close:focus::before, .welcome-panel .welcome-panel-close:hover::before,
		#all-plugins-table .plugins a.delete, #media-items a.delete, #media-items a.delete-permanently, #nav-menu-footer .menu-delete, #search-plugins-table .plugins a.delete, .plugins a.delete, .row-actions span.delete a, .row-actions span.spam a, .row-actions span.trash a, .submitbox .submitdelete,
		#the-comment-list .unapprove a {
			color: #5e0003;
		}
	
		#collapse-menu, #collapse-menu #collapse-button div::after {-webkit-transition: all .35s ease-out; transition: all .35s ease-out;}
		#collapse-menu:hover, #collapse-menu:hover #collapse-button div::after {
			color: white; 
		}
	
	/* misc link/icon colors*/
	.wrap .add-new-h2:hover, .wrap .page-title-action:hover {
		background: #5e0003;
		color: #fff;
	}
	
	#all-plugins-table .plugins a.delete:hover, #media-items a.delete:hover, #media-items a.delete-permanently:hover, #nav-menu-footer .menu-delete:hover, #search-plugins-table .plugins a.delete:hover, .plugins a.delete:hover, .row-actions span.delete a:hover, .row-actions span.spam a:hover, .row-actions span.trash a:hover, .submitbox .submitdelete:hover,
	#the-comment-list .unapprove a:hover {
		color: #5e0003;
	}
	
	/* post action links (like edit/quick edit/trash*/
	.wp-admin .row-actions a {
		color: #e53539 !important;
	}

	.wp-admin .row-actions a:hover {
		color: #5e0003 !important;
	}

/*--------------------------------------------------------------------------*/
/* ======================== CUSTOM LOGIN PAGE STYLES ====================== */
/*--------------------------------------------------------------------------*/
/* basics */
	body.login {
		background-color: #e53539;
		background-repeat: repeat;
	}

	div#login #nav, div#login #backtoblog {
		background: #fff;
		margin-top: 0;
		padding: 15px 20px 0;
		box-sizing: border-box;
		border-top: 1px solid #dcdcdc;
	}
	
	div#login #backtoblog {padding-bottom: 10px; border: none;}
	
	#login {
		padding-top: 0;
		position: absolute;
		top: 45%; left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	
	.login h1 a {
		background-size: auto;
		height: auto;
		width: 100%;
		min-height: 50px;
		max-width: 300px;
		margin-bottom: -5px;
		background-image: url('../images/loginscreen/logo-light.png');
		-webkit-transition: none !important; transition: none !important;
	}

	.login .message { border-color: #e53539; }
	.login #login_error { border-color: #e53539; }

	@media (max-width: 650px) {
		body.login {
			-webkit-box-shadow: none;
			box-shadow: none;
			background-color: #343838;
		}
		
		#login {
			position: relative;
			padding-top: 8%;
			margin-bottom: 50px;
			top: auto; left: auto;
			-webkit-transform: none;
			transform: none;
		}
	}


/* typeography */
	.login #backtoblog a, .login #nav a, .login h1 a, .login .button-primary {-webkit-transition: all .35s ease-out; transition: all .35s ease-out;}
	.login #backtoblog a:hover, .login #nav a:hover, .login h1 a:hover {color: #e53539;}
	
	.login .button-primary {
		background: #e53539;
		border-color: #e53539;
		-webkit-box-shadow: 0 1px 0 rgba(39,0,89, 0.5) inset, 0 1px 0 rgba(68,3,151, 0.15);
		box-shadow: 0 1px 0 rgba(39,0,89, 0.5) inset, 0 1px 0 rgba(68,3,151, 0.15);
		
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	
	.login .button-primary:hover {
		background: #5e0003;
		-webkit-box-shadow: 0 1px 0 rgba(229,53,57, 0.6) inset;
		box-shadow: 0 1px 0 rgba(229,53,57, 0.6) inset;
	}
	
	.login form input[type="text"], .login form input[type="password"] {
		padding: 5px 10px;
	}
	
	
	.login form input[type="text"]:focus, .login form input[type="password"]:focus  {
		border-color: #e53539 !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}
