@font-face {
    font-family: 'AvenirBook';
    src: url('avenir.eot');
    src: url('avenir.eot') format('embedded-opentype'),
         url('avenir.woff2') format('woff2'),
         url('avenir.woff') format('woff'),
         url('avenir.ttf') format('truetype'),
         url('avenir.svg#AvenirBook') format('svg');
}
